

html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(-225deg, #231557 10%, #44107A 29%, #FF1361 67%);
  font-family: 'Poppins', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
header {
  background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
  position: fixed;
} 
@media (min-width: 300px) {
    
    #menu_principal{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
  }

#logo-principal{
  display: grid;
    align-items: center;
    justify-items: center;
}

#menu_principal{
    margin: 0px;
    padding-top: 20px;
    box-sizing: border-box;
    /* display: grid;
    align-items: center;
    justify-items: center; */
  }


.borrar-producto {
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#hero {
  background-image:url(/Imagenes/inicio2.jpeg);
  height: 300px;
  background-size: cover;
}
#encabezado {
  margin: 80px 0;
}
@media (min-width: 300px) {
  #encabezado {
    margin: 25px 0px;
  }
}
.submenu {
  position: relative;
}

.submenu #menu_list{
  display: none;
}
.submenu #carrito{
  display: none;
}

.submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;
  top:100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
  border-radius:10px;
}

.submenu:hover #menu_list{
  display: block;
  position: absolute;
  right:0;
  top:100%;
  z-index: 1;
  background-color: white;
  padding: 10px;
  min-height: 100px;
  min-width: 150px;
  border-radius:10px;
}
/* .vacio {
  font-size: 50px;
  padding: 10px;
  background-color: rgb(8, 8, 8);
  text-align: center;
  border-radius: 10px;
  color: rgb(241, 12, 12);
} */
.contenido-hero {
  color: white;
}
.contenido-hero form {
  position: relative;
  margin-bottom: 0;
  width: 350%;
  padding-left: 10%;
}
.contenido-hero form #buscador {
  height: 50px;
  margin-bottom: 10px;
  
}
.contenido-hero form .submit-buscador {
  position: absolute;
  right:0;
  left: 130%;
  top:0;
  height: 60px;
  padding: 0;
  display: block;
  text-indent: -999px; 
  width: 70px; 
  background-image: url(/Imagenes/lupa.png);
  background-position: right center;
  background-repeat: no-repeat;
  border:none;
}


.barra {
  padding: 8px 0;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%);
}

.barra p {
  margin:0;
  color: white;
  font-family:'Courier New', Courier, monospace
}

#decoracion ul {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

#lista-zapatos .row {
  margin-bottom:10px;
  padding: 5px;
}
.agregar-carrito {
  margin:10px 0;
  padding: 40px;
  width: 50px;
}
.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: rgb(255, 230, 230);
  font-family:Georgia, 'Times New Roman', Times, serif
} 

.info-card img{
  width: 60px;
  height: 35px ;
  display: flex;
  align-content: center;
}
@media (min-width: 550px) {
  .info-card img{
    width: 60px;
    height: 25px ;
    display: flex;
    align-content: center;
  }
}
@media (min-width: 550px) {
  .card {
      text-align: left;
  }
}
.info-card  {
  padding: 10px 20px;
}
@media (min-width: 550px) {
  .info-card  {
    padding: 0px 0px;
  }
}

.footer {
  margin-top: 40px;
  border-top:1px solid #aaa;;
  padding-top: 40px;   
  font-size: 400;
}
.footer .menu a {
display: block;
margin-bottom: 10px;
text-decoration: none;
}
#principal {
  font-size: 900;
  padding: 5px;
}
